<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product 
		Id="C15867C1-619B-43D8-9B3C-2541D404F4C5"
		Name="PlaneDisaster.NET 0.9" 
		Language="1033"
		Codepage="1252"
		Version="0.9" 
		Manufacturer="ZippySoft">
		
		<Package 
			Id="78B30472-1F61-4FCC-B3D9-CBCB1368978F" 
			Description="#Description" 
			Comments="Comments" 
			InstallerVersion="200" 
			Compressed="yes" />
		
		<!--
			Much of the "customization" here is blatantly stolen from
			SharpDevelop's setup file.
 
			http://www.icsharpcode.net/OpenSource/SD/
		-->
		
		
		<!-- 
			Conditions to be satisfied before the installer begins.
			Note that we are using "Installed OR" in the conditions so
			so they never block the user from repairing, patching, or 
			uninstalling the package after it has been installed. 

			For	example the user could do something odd like uninstall .NET 2.0
 			and then run the msi to uninstall SharpDevelop. Without the 
			"Installed OR" this would not be allowed.
		-->
		<!--
			Check for .NET 2.0 
			http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/msinetassemblysupport.asp
		-->
		<Condition Message="This setup requires the .NET Framework 2.0 or higher.">
			Installed OR MsiNetAssemblySupport &gt;= "2.0.50727"
		</Condition>
		
		<!-- 
			Install for all users.

			Using ALLUSERS=2 means the application can be installed by a non-admin. 
			In this case it will be a per-user installation installed into the 
			user's personal profile. 

			http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/allusers.asp
		-->
		<Property Id="ALLUSERS">2</Property>
		
		
		<!-- 
			Support entries shown when clicking "Click here for support information"
			in Control Panel's Add/Remove Programs

			http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/configuration_properties.asp
		-->
		<!-- Suppress the Modify button in the Control Panel's Add/Remove Programs -->
		<Property Id="ARPNOMODIFY">1</Property> 
		<!-- Puts PlaneDisaster.NET icon in Control Panel's Add/Remove Programs -->
		<Property Id="ARPPRODUCTICON">MainExecutable</Property>
		<Icon Id="MainExecutable" SourceFile="..\bin\Release\PlaneDisaster.exe"/>
		
		<Property Id="AcceptLicense">No</Property>
		<!--BUTTON TEXT-->
		<Property Id="Button_Back">&lt; &amp;Back</Property>
		<Property Id="Button_Next">&amp;Next &gt;</Property>
		<Property Id="Button_Finish">&amp;Finish</Property>
		<Property Id="Button_OK">OK</Property>
		<Property Id="Button_Cancel">Cancel</Property>
		<Property Id="Button_Browse">Br&amp;owse...</Property>
		<Property Id="Button_Exit">&amp;Exit</Property>
		<Property Id="Button_Ignore">&amp;Ignore</Property>
		<Property Id="Button_Install">&amp;Install</Property>
		<Property Id="Button_Remove">&amp;Remove</Property>
		<Property Id="Button_Repair">&amp;Repair</Property>
		<Property Id="Button_Reset">&amp;Reset</Property>
		<Property Id="Button_Resume">&amp;Resume</Property>
		<Property Id="Button_Retry">&amp;Retry</Property>
		<Property Id="Button_Return">&amp;Return</Property>
		<Property Id="Button_Yes">&amp;Yes</Property>
		<Property Id="Button_No">&amp;No</Property>
		<!--END BUTTON TEXT-->
		<CustomAction Id="SET_INSTALLDIR" Property="INSTALLDIR" Value="[INSTALLDIR]" Execute="firstSequence" />
		<!-- INSTALL DESCRIPTION -->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir" />
		<Feature Id="PlaneDisaster.NET" Title="PlaneDisaster.NET" Level="1">
			<ComponentRef Id="PlaneDisaster" />
		</Feature>
		<Feature Id="SQLite.NET" Title="SQLite.NET" Level="1">
			<ComponentRef Id="SQLite.NET" />
		</Feature>
		<!-- END INSTALL DESCRIPTION -->
		<AdminExecuteSequence>
		</AdminExecuteSequence>
		<InstallExecuteSequence>
		</InstallExecuteSequence>
		<UIRef Id="UserInterface" />
	</Product>
</Wix>
