/*----------------------------------------------*/
BODY
{	font-family: Verdana, Arial;
	font-weight: normal;
	font-size:   11px;
	color: #000000;;
	background-color: #FFFFFF;
}
/*----------------------------------------------*/
IMG
{	border:		 0;
}
/*----------------------------------------------*/
TABLE
{	font-size:		 11px;
	background-color: #000000;
	border-width:	 1px;
	border-color:     #000000;
	border-collapse: collapse;
	margin: 0;
}
/*----------------------------------------------*/
TD
{	background-color: #FFFFFF;
	border-color:	  #FF0000;
	border-width:	  0px;
	padding: 	  4px;
	margin:  	  0px;
}
/*----------------------------------------------*/
SELECT
{	font-family: Verdana;
	font-weight: normal;
	font-size:   11px;
	color:		  #000000;
	background-color: #FFFFFF;
}
/*----------------------------------------------*/
INPUT
{	font-family: Verdana;
	font-weight: normal;
	font-size:   11px;
	color:		  #000000;
}
/*----------------------------------------------*/
TEXTAREA
{	font-family: Verdana;
	font-weight: normal;
	font-size:   11px;
	color:		  #000000;
	background-color: #FFFFFF;
}
/*----------------------------------------------*/
A
{	FONT-WEIGHT: 	 normal;
	font-style:	 	 normal;
	text-decoration: none;
}
A:link { color: #004080; }
A:hover
{	FONT-WEIGHT: normal;
	COLOR: 		 #FF5357;
}
/*----------------------------------------------*/
#title {
	font-size: xx-large;
}
#subtitle {
	font-size: x-large;
}
#ButtonLinks {
	position: fixed;
	right: 25px;
	width: 100px;
	text-align: center;
}
#content {
	position: absolute;
	left: 75px;
	right: 150px;
	border-left: thick solid #004080;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F0F0F0;
	top: 0px;
}
